
http://langfuse.localhost:4001 {
  handle /* {
    reverse_proxy langfuse-server:3000
  }
  log {
    output file /var/log/caddy/langfuse.localhost.log
    format json
  }
}

http://litellm.localhost:4001 {
  handle /* {
    reverse_proxy litellm-server:4000
  }
  log {
    output file /var/log/caddy/litellm.localhost.log
    format json
  }
}